.conatiner{
    display: grid;
    height: 100vh;
    grid-template-rows: auto;
    grid-template-columns: repeat(2,1fr);
    justify-content: center;
    place-items: center;
    grid-template-areas: 
    "a_link img"
    ". span1"
    "a_link1 img1"
    ". span2";
}

.a_link{
    grid-area: a_link;
}
.img{
    grid-area: img;
    width: 200px;
    height: 200px;
}

.span{
    grid-area: span1;
}
.a_link1{
    grid-area: a_link1;
}
.img1{
    grid-area: img1;
    width: 200px;
    height: 200px;
}

.span1{
    grid-area: span2;
}